<h3>My Projects</h3>
<div class="projectcontainer">
<div class="cards">
    <mat-card appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Spotify Clone</mat-card-title>
    <mat-card-subtitle>Clone static Website</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="Spotify.png" width="100px">
  <mat-card-content>
    <p>
      Made with HTML, CSS And Bootstrap
    </p>
  </mat-card-content>
</mat-card>
</div>
<div class="cards">
    <mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Todo App</mat-card-title>
    <mat-card-subtitle>A javaScript App</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="Todo.png" width="100px">
  <mat-card-content>
    <p>
      Made with HTML, CSS And javaScript
    </p>
  </mat-card-content>
</mat-card>
</div>
<div class="cards">
    <mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>PixelFrame</mat-card-title>
    <mat-card-subtitle>Photography Portfolio WebPage</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="PixelFrame.png" width="100px">
  <mat-card-content>
    <p>
      Made with HTML, CSS And Bootstrap
    </p>
  </mat-card-content>
</mat-card>
</div>
<div class="cards">
    <mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>StudyTimer</mat-card-title>
    <mat-card-subtitle>App to ManageStudy-Time</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="StudyTimer.png" width="100px">
  <mat-card-content>
    <p>
      Made with HTML, CSS And Javascript
    </p>
  </mat-card-content>
</mat-card>
</div>
<div class="cards">
    <mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Personal Portfolio Website</mat-card-title>
    <mat-card-subtitle>Static Personal Webpage</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="Potfolio.png" width="100px">
  <mat-card-content>
    <p>
      Made with HTML, CSS And Angular
    </p>
  </mat-card-content>
</mat-card>
</div>
</div>

